// font //
$ff-main: 'Big Shoulders Display', cursive;
$ff-sub: 'Lexend Deca', sans-serif;

// font size//
$ff-700: 3.75rem;
$ff-600: 3rem;
$ff-550: 2.5rem;
$ff-500: 1.75rem;
$ff-400: 1.5rem;
$ff-300: 1rem;

// font weight//
$fw-400: 400;
$fw-700: 700;
// color //
$color-btn: hsl(158, 36%, 37%);
$color-bg: hsl(0, 0%, 100%);
$color-main: hsl(0, 0%, 95%);
$color-sub: hsla(0, 0%, 100%, 0.75);
$color-bg-sedan: hsl(31, 77%, 52%);
$color-bg-suv: hsl(184, 100%, 22%);
$color-bg-luxury: hsl(179, 100%, 13%);

